<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <style>
        .container {
            display: flex;
        }
        .section {
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .buttons-container {
            margin-top: 10px;
        }
        .button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    
    <h1 style="text-align: center;"> MatchScore Add Players</h1>
    <br><br><br>
    <div class="container">
        <form id="searchForm" method="post" action="/players/creation">
            <input type="text" name="player_name" id="player_name_input" {{ 'disabled' if player_names|length >= max_players }}>
            <input type="hidden" name="player_sport" id="sport_input" value="{{ player_sport }}">
            <input type="hidden" name="max_players" id="max_players_input" value="{{ max_players if max_players is not none else '' }}">
            <input type="hidden" name="tournament_id" id="tournament_id_input" value="{{ tournament_id if tournament_id is not none else ''}}">
            <input type="hidden" name="sports_club_id" id="sports_club_id_input" value="{{ sports_club_id if sports_club_id is not none else '' }}">
            <input type="hidden" name="manual" id="manual" value=0>
            <input type="hidden" name="is_sports_club" id="is_sports_club" value={{ is_sports_club }}>
            <input type="hidden" name="added_players" id="search_results_input" >
            <div class="buttons-container">
                <button type="submit" class="button" onclick="prepareSearchResultsForSubmission('/players/creation', 0);">Search Player</button>
                <button type="submit" class="button" onclick="prepareSearchResultsForSubmission('/players/createsingletemplate', 1);">Create Manually</button>
                <button type="submit" class="button" onclick="prepareSearchResultsForSubmission('/players', 0);">Create Automatically</button>
                <button type="button" class="button" id="createTournamentBtn">Create Tournament</button>
                </div>
            </form>
            <div id="search_results" style="display:none;">
            </div>
        </div>

        <div class="section">
            <h3>Added Players</h3>
            <ul id="added_players_list">
                {% for player in added_players %}
                    <li>{{ player }}
                    <button onclick="removePlayer(this)">Remove</button>
                    </li>
                {% endfor %}
                {% for player in player_names %}
                    <li>{{ player }}
                    <button onclick="removePlayer(this)">Remove</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="search_results" style="{{ 'display:block;' if post_players }}">
        {% for player in post_players %}
            <div>
                <span onclick="addToAddedPlayers('{{ player.name }}')" style="cursor: pointer;">{{ player.name }}</span>
                <img src="{{ player.image_data_url }}" alt="{{ player.name }}" style="height: 50px; width: 50px;">
                <div><h5> Sport: {{ player.sport }} </h5></div>
                <div><h5> Club: {{ player.sport_club }}</h5></div>
            </div>
        {% endfor %}
        {% if no_player %}
            <p>{{ no_player }}</p>
        {% endif %}
    </div>

    <div id="warningMessage" class="warning-message" style="display: none; color: red; margin-top: 10px;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
             // Initially disable buttons
            checkAndSetButtonStates(); 
            setButtonsDisabled(true);// Then check for player count
        });
        
        document.getElementById("player_name_input").addEventListener("input", function() {
            var player_name = this.value;
            var isAdded = isNameAdded(player_name)
            var isInputEmpty = player_name.trim() === '';
            var maxPlayers = parseInt(document.getElementById("max_players_input").value, 10);
            var currentPlayersCount = document.getElementById("added_players_list").getElementsByTagName("li").length;
        
            // Enable buttons if there's input, the player name hasn't been added, and max players limit isn't reached
            setButtonsDisabled(isAdded || isInputEmpty || currentPlayersCount >= maxPlayers);
            if (isAdded) {
                alert("Player with this name was already added");
            }
            checkAndSetButtonStates();
        });

        document.getElementById("createTournamentBtn").addEventListener("click", submitTournamentData);

        function submitTournamentData() {
            var addedPlayers = document.getElementById("added_players_list").getElementsByTagName("li").length;
            var maxPlayers = parseInt(document.getElementById("max_players_input").value, 10);
            var warningMessageDiv = document.getElementById("warningMessage");
            
            if (addedPlayers !== maxPlayers) {
                warningMessageDiv.style.display = 'block';
                warningMessageDiv.textContent = "Not sufficient number of players added";
                return;
            }
        
            var addedPlayersData = [];
            var playerElements = document.getElementById("added_players_list").getElementsByTagName("li");
            for (var i = 0; i < playerElements.length; i++) {
                addedPlayersData.push(playerElements[i].childNodes[0].textContent.trim());
            }
        
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "tournament");
        
            var playersField = document.createElement("input");
            playersField.setAttribute("type", "hidden");
            playersField.setAttribute("name", "players");
            playersField.setAttribute("value", JSON.stringify(addedPlayersData));
            form.appendChild(playersField);
        
            var tournamentIdField = document.createElement("input");
            tournamentIdField.setAttribute("type", "hidden");
            tournamentIdField.setAttribute("name", "tournament_id");
            tournamentIdField.setAttribute("value", document.getElementById("tournament_id_input").value);
            form.appendChild(tournamentIdField);

            var playerSportField = document.createElement("input");
            playerSportField.setAttribute("type", "hidden");
            playerSportField.setAttribute("name", "player_sport");
            playerSportField.setAttribute("value", document.getElementById("sport_input").value);
            form.appendChild(playerSportField);
        
            document.body.appendChild(form);
            form.submit();
            
        }
        
        function checkAndSetButtonStates() {
            var maxPlayers = parseInt(document.getElementById("max_players_input").value, 10);
            var currentPlayersCount = document.getElementById("added_players_list").getElementsByTagName("li").length;
            var buttons = document.getElementsByClassName("button");
            var createTournamentBtn = document.getElementById("createTournamentBtn");
        
            var shouldDisable = currentPlayersCount >= maxPlayers;
            for (var i = 0; i < buttons.length; i++) {
                if(buttons[i].id !== 'createTournamentBtn'){
                    buttons[i].disabled = shouldDisable;
                }
            }
        
            if (currentPlayersCount === maxPlayers) {
                createTournamentBtn.disabled = false;
            } else {
                createTournamentBtn.disabled = true;
            }
        }

        function isNameAdded(name) {
            var addedPlayers = document.getElementById("added_players_list").getElementsByTagName("li");
            for (var i = 0; i < addedPlayers.length; i++) {
                var playerName = addedPlayers[i].childNodes[0].textContent.trim();
                if (playerName === name) {
                    return true;
                }
            }
            return false;
        }
    
        function setButtonsDisabled(disabled) {
            var buttons = document.getElementsByClassName("button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disabled = disabled;
            }
        }
        
        function addToAddedPlayers(playerName) {
            var maxPlayers = parseInt(document.getElementById("max_players_input").value, 10);
            var currentPlayersCount = document.getElementById("added_players_list").getElementsByTagName("li").length;
        
            if (currentPlayersCount >= maxPlayers) {
                alert("Maximum number of participants has been reached");
                return;
            }
        
            if (!isNameAdded(playerName)) {
                var addedPlayersList = document.getElementById("added_players_list");
                var newListItem = document.createElement("li");
        
                var textNode = document.createTextNode(playerName);
                newListItem.appendChild(textNode);
        
                newListItem.appendChild(document.createTextNode(" "));
        
                var removeBtn = document.createElement("button");
                removeBtn.textContent = "Remove";
                removeBtn.onclick = function() { removePlayer(this); };
        
                newListItem.appendChild(removeBtn);
        
                addedPlayersList.appendChild(newListItem);
                
                checkAndSetButtonStates();
                setButtonsDisabled(true);

            } else {
                alert("This player has already been added.");
            }
            setButtonsDisabled(true);
            checkAndSetButtonStates();
        }
        
        
        
        function prepareSearchResultsForSubmission(actionUrl, manualValue) {
            var form = document.getElementById('searchForm');
            var manualInput = document.getElementById('manual');
            var addedPlayers = [];
            var playerElements = document.getElementById("added_players_list").getElementsByTagName("li");
        
            form.action = actionUrl;
            manualInput.value = manualValue;
        
            for (var i = 0; i < playerElements.length; i++) {
                var playerName = playerElements[i].childNodes[0].textContent.trim();
                addedPlayers.push(playerName);
            }
            document.getElementById("search_results_input").value = JSON.stringify(addedPlayers);
        
            form.submit();
        }
        function removePlayer(button) {
            var listItem = button.parentElement;
            listItem.remove();
            checkAndSetButtonStates();
        }
    </script>
    
    
</body>
</html>
