<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <style>
        .form-group {
            margin-bottom: 10px; 
        }

        .form-group label {
            display: block; 
            margin-bottom: 5px; 
        }

        .form-group input {
            width: 100%; 
            padding: 5px; 
            box-sizing: border-box; 
        }

        .buttons-container {
            margin-top: 20px; 
        }
    </style>
</head>
<body>
    
    <h1 style="text-align: center;"> MatchScore Create Player</h1>
    <br><br><br>
    <div class="container">
        <form id="createForm" method="post" action="/players">
            <div class="form-group">
                <label for="player_name_input">Player Name</label>
                {% if player_name %}    
                <input type="text" name="player_name" id="player_name_input" value="{{ player_name }}" readonly>
                {% else %}
                <input type="text" name="player_name" id="player_name_input">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="sport_input">Sport</label>
                {% if player_sport %}
                <input type="text" name="player_sport" id="sport_input" value="{{ player_sport }}" readonly>
                {% else %}
                <input type="text" name="player_sport" id="sport_input">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="country">Country (Optional):</label>
                <input type="text" name="country" id="country_input">
            </div>
            <input type="hidden" name="sports_club_id" id="sports_club_id_input" value="{{ sports_club_id if sports_club_id is not none else '' }}">
            <input type="hidden" name="added_players" id="added_players_input" value="{{ added_players }}">
            <input type="hidden" name="max_players" id="max_players_input" value="{{ max_players }}">
            <input type="hidden" name="tournament_id" id="tournament_id_input" value="{{ tournament_id }}">
            <input type="hidden" name="added_players" id="search_results_input" >
            <input type="hidden" name="manual" id="manual" value=1>
            <div class="buttons-container">
                <button type="submit" class="button">Create Player</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
