<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchScore Invalid Credentials</title>
</head>
<body>
    <h1 style="text-align: center;">MatchScore Invalid Credentials</h1>

    {% if invalid_director%}
    <h1 style="text-align: center;">MatchScore Invalid Credentials</h1>
    {% endif %}
<div>
    {% if create_players%}
    <h3>You do not have crdentials to create players!</h3>
    <br><br>
    <form action="/users/dashboard" method="get">
        <button type="submit">Back to Dashboard</button>
        <br><br>
    </form>
    {% endif %}

    {% if invalid_director%}
    <h3>You do not have crdentials to create players for this tournament!</h3>
    <br><br>
    <form action="/users/dashboard" method="get">
        <button type="submit">Back to Dashboard</button>
        <br><br>
    </form>
    {% endif %}

    {% if invalid_manager%}
    <h3>You do not have crdentials to create players for this club!</h3>
    <br><br>
    <form action="/users/dashboard" method="get">
        <button type="submit">Back to Dashboard</button>
        <br><br>
    </form>
    {% endif %}
        
</div>

</body>
</html>
