<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <style>
        .container {
            display: flex;
        }
        .section {
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .buttons-container {
            margin-top: 10px;
        }
        .button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    
    <h1 style="text-align: center;"> To Get to Create Player</h1>
    <br><br><br>
    <div class="container">
        <form id="createForm" method="post" action="/players/createmultipletemplate">
            <label for="sport_input">Player Sport:</label>
            <input type="text" name="player_sport" id="sport_input">
            <label for="sports_club_id_input">Sports Club ID:</label>
            <input type="text" name="sports_club_id" id="sports_club_id_input">
            <label for="max_players_input">Max Players:</label>
            <input type="text" name="max_players" id="max_players_input">
            <label for="tournament_id_input">Tournament ID:</label>
            <input type="text" name="tournament_id" id="tournament_id_input">
            <div class="buttons-container">
                <button type="submit" class="button">Create Player</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
