<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchScore Landing Page</title>
</head>
<body>
    <h1 style="text-align: center;">MatchScore</h1>
<div id="register-section">
    <style>
        .top-right-button {
            position: absolute;
            top: 100px;
            right: 100px;
        }
    </style>
    <a href="users/registrationform" class="top-right-button">
        <button>Register</button>
    </a>
</div>

<div id="login-section">
    <style>
        .top-totheleft-button {
            position: absolute;
            top: 100px;
            right: 200px;
        }
    </style>
    <a href="users/login" class="top-totheleft-button">
        <button>Login</button>
    </a>
</div>



</body>
</html>
