<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchScore Find</title>
    <style>
        #topBar {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            padding: 10px;
            background-color: #f8f8f8; 
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
        }

        #userDetails {
            display: flex;
            align-items: center;
        }

        #userDetails img {
            margin-left: 10px;
            height: 50px;
            width: 50px;
            border-radius: 50%; 
        }

        .buttons-container {
            display: flex;
            align-items: center;
        }

        .topbar-button {
            height: 50px;
            margin-right: 10px;
        }

        .hidden {
            display: none;
        }

        
    </style>
</head>
<body>
    <div id="topBar">
        <!-- Buttons on the left -->
        <div class="buttons-container">
            <button class="topbar-button" onclick="location.href='/users/dashboard'">Back to Dashboard</button>
            <button class="topbar-button" onclick="location.href='/'">Main Page</button>
        </div>
        <h1 style="text-align: center;"> MatchScore Find </h1>

        <div id="userDetails">
            <span>{{ name }}</span>
            <img src="{{ image_data_url }}" alt="User Image">
        </div>  
    </div>
    <div id="dashboard">
        {%if not delete_player and not manage_player and not delete_user%}
        
        {% if is_sports_club == 1 %}

        <div id="form1" >
            <form id="findClub" method="post" action ="/users/addplayerstoclub" >
                <label for="player_name">Name of club:</label>
                <input type="text" name="player_name" required></input>
                <br>
                <input type="hidden" name="is_sports_club" value = {{is_sports_club}}>
                <label for="dropdownMenu1">Choose sport:</label>
                    <select id="dropdownMenu1" name="player_sport">
                        <option value="football">Football</option>
                        <option value="tennis">Tennis</option>
                        <option value="athletics">Athletics</option>
                    </select>
                <br>
                <button type="submit" class="dashboard-button">Find club</button>
            </form>
        </div>
        <br>
        {% if success%}
        <h4> We could not find such club. </h4>
        {%endif%}

        {% endif%}

        {% if is_sports_club == 0 %}

        <div id="form2" >
            <form id="findIndividualPlayer" method="post" action ="/users/manageplayer" >
                <label for="player_name">Name of player:</label>
                <input type="text" name="player_name" required></input>
                <br>
                <input type="hidden" name="is_sports_club" value = {{0}}>
                <label for="dropdownMenu1">Choose sport:</label>
                    <select id="dropdownMenu1" name="player_sport">
                        <option value="football">Football</option>
                        <option value="tennis">Tennis</option>
                        <option value="athletics">Athletics</option>
                    </select>
                <br>
                <button type="submit" class="dashboard-button">Find player</button>
            </form>
        </div>
        <br>
        {% if success%}
        <h4> We could not find such player. </h4>
        {%endif%}
        {% endif%}
        {%endif%}

        {%if manage_player%}
        <div id="dashboard">
            <h3> Find player whose profile you want to change. </h3>
            {% if success%}
                <h4> We could not find such player. </h4>
            {%endif%}
            <select id="formSelector" onchange="showForm()">
                <option value="">Select type of request</option>
                <option value="form3">Find club</option>
                <option value="form4">Find indivdual player</option> 
            </select>
        
            <div id="form3" class="hidden">
                <form id="findClub" method="post" action ="/players/manageplayer" >
                    <label for="player_name">Name of club:</label>
                    <input type="text" name="player_name" required></input>
                    <br>
                    <input type="hidden" name="is_sports_club" value = {{1}}>
                    <label for="dropdownMenu1">Choose sport:</label>
                        <select id="dropdownMenu1" name="player_sport">
                            <option value="football">Football</option>
                            <option value="tennis">Tennis</option>
                            <option value="athletics">Athletics</option>
                        </select>
                    <br>
                    <button type="submit" class="dashboard-button">Find club</button>
                </form>
            </div>
        
            <div id="form4" class="hidden">
                <form id="findIndividualPlayer" method="post" action ="/players/manageplayer" >
                    <label for="player_name">Name of player:</label>
                    <input type="text" name="player_name" required></input>
                    <br>
                    <input type="hidden" name="is_sports_club" value = {{0}}>
                    {%if account_management%}
                    <input type="hidden" name="account_management" value = {{account_management}}>
                    {%endif%}
                    <label for="dropdownMenu1">Choose sport:</label>
                        <select id="dropdownMenu1" name="player_sport">
                            <option value="football">Football</option>
                            <option value="tennis">Tennis</option>
                            <option value="athletics">Athletics</option>
                        </select>
                    <br>
                    <button type="submit" class="dashboard-button">Find player</button>
                </form>
            </div>
            {%endif%}
        
        {% if delete_player %}
        <div id="dashboard">
            <h3> Find player to be deleted/removed. </h3>
            {% if success%}
                <h4> We could not find such player. </h4>
                {%endif%}

            {% if deleted%}
            <h4> Successfully {{deleted}}. </h4>
            {%endif%}

            <select id="formSelector" onchange="showForm()">
                <option value="">Select </option>
                <option value="form5">Remove club</option>
                <option value="form6">Remove indivdual player</option> 
            </select>
        
            <div id="form5" class="hidden">
                <form id="findClub" method="post" action ="/players/deletion" >
                    <label for="player_name">Name of club:</label>
                    <input type="text" name="player_name" required></input>
                    <br>
                    <input type="hidden" name="is_sports_club" value = {{1}}>
                    <label for="dropdownMenu1">Choose sport:</label>
                        <select id="dropdownMenu1" name="player_sport">
                            <option value="football">Football</option>
                            <option value="tennis">Tennis</option>
                            <option value="athletics">Athletics</option>
                        </select>
                    <br>
                    <button type="submit" class="dashboard-button">Remove club</button>
                </form>
            </div>
        
            <div id="form6" class="hidden">
                <form id="findIndividualPlayer" method="post" action ="/players/deletion" >
                    <label for="player_name">Name of player:</label>
                    <input type="text" name="player_name" required></input>
                    <br>
                    <input type="hidden" name="is_sports_club" value = {{0}}>
                    <label for="dropdownMenu1">Choose sport:</label>
                        <select id="dropdownMenu1" name="player_sport">
                            <option value="football">Football</option>
                            <option value="tennis">Tennis</option>
                            <option value="athletics">Athletics</option>
                        </select>
                    <br>
                    <button type="submit" class="dashboard-button">Remove player</button>
                </form>
                <br>
                
            </div>
            {%endif%}
        
        {%if delete_user%}
        <h3> Find user to be deleted </h3>
            {% if success%}
            <h4> We could not find such user. </h4>
            {%endif%}

            {% if deleted%}
            <h4> Successfully {{deleted}}. </h4>
            {%endif%}
        <div id="form7" >
            <form id="findUser" method="post" action ="/users/deletion" >
                <label for="email">email:</label>
                <input type="text" name="email" required></input>
                <br>
                <button type="submit" class="dashboard-button">Delete user</button>
            </form>
        </div>
        <br>
        {% endif%}



        

    <script>   
        function showForm() {
            var selectedForm = document.getElementById("formSelector").value;
            var forms = document.getElementsByClassName("hidden");
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = "none";
            }
            if (selectedForm) {
                document.getElementById(selectedForm).style.display = "block";
            }
        }    
   </script>   

</body>
</html>