<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchScore Login</title>
</head>
<body>
    <h1 style="text-align: center;">MatchScore Login</h1>
{%if invalid_credentials%}
<h3 style="text-align: left;">We could not validate your email or password. Please, input them again.</h3>
{% endif %}
<div id="login-section">
    <h2>Log-in</h2>
    <form action="/users/token" method="post">
        <label for="username">Email:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">Log-in</button>
        <br><br>
    </form>
</div>

<a href="passwordreset">
    <button>Forgot Password?</button>
</body>
</html>
