<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchScore Reset Password</title>
</head>
<body>
    <h1 style="text-align: center;">MatchScore Reset Password</h1>
    {%if invalid_email%}
    <h3 style="text-align: left;">We could not validate you as a registered user on MatchScore.</h3>
    <br><br>
    {% endif %}
    <h3 style="text-align: left;">Please enter a registered e-mail below.</h3>
<div id="reset_password">
    <form action="/users/resetpassword" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" required>
        <br><br>
        <button type="submit">Get new password</button>
        <br><br>
    </form>
</div>

</body>
</html>
